.footer {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px 150px 0px 150px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo {
    position: relative;
    cursor: pointer;
}

.footer-logo h2 {
    font-size: 40px;
    font-weight: 600;
}

.footer-logo img {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 200px;
    z-index: -1;
}

.footer-para p {
    font-size: 20px;
    max-width: 400px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-icon img {
    width: 35px;
    cursor: pointer;
    transition: .5s;
}

.footer-icon img:hover {
    transform: scale(1.5);
    transition: .5s;
}

.footer-socials h2 {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}

.footer-bottom p {
    margin-bottom: 50px;
}

.footer-bottom p span {
    text-decoration: underline;
    font: bold;
    cursor: pointer;
}

@media(max-width:768px) {
    .footer {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-top {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .footer-logo h2 {
        padding: 0;
        font-size: 35px;
    }

    .footer-logo img {
        width: 70px;
        left: 180px;
    }

    .footer-para p {
        font-size: 15px;
    }

    .footer-socials {
        gap: 20px;
    }

    .footer-socials h2 {
        font-size: 35px;
    }

    .footer-icon img {
        width: 25px;
    }

    .footer-bottom p {
        margin-bottom: 30px;
    }
}